*{
    color: black;
    align-content: center;
    font-size: larger;
    font: 100;
    text-align: center;
}
h1{
    color: aqua;
}
h3{
    color: blue;
}
h4{
    color: darkviolet;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
*{
    align-content: center;
}
